.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  padding: 0;
  margin: 0;
}

.node:hover {
  animation-name: hoverAnimation;
  animation-duration: .05s;
  animation-fill-mode: forwards;
}
.red {
  background-color: red;
}
.red:hover {
  background-color: blue;
}

.green:hover {
  background-color: blue;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

@keyframes hoverAnimation {
  25% {background-color: #B6F2D4; transform: scale(.25);}
  50% {background-color: #1AFF8D; transform: scale(.75);}
  75% {background-color: #02B55B; transform: scale(1.2);}
  100% {background-color: #026917; transform: scale(1);}
}
@keyframes expansionAnimation {

}