.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
  position: absolute;
  left: 1vh;
  top: 1vh;
  opacity: 100%;
}

.App-header {
  background-color: #ffffff;
  /*min-height: 50vh;*/
  max-height: 20vh;
  outline: 1vh black;
  outline-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttons {
  overflow: hidden;
  left: 15vh;
  top: 8vh;
  color: #026917;
  position: absolute;
  font-family: "Courier New";
}

.buttons p {
  float: left;
  padding: 14px 20px;
  text-align: center;
}

.buttons p:hover {
  font-size: 120%;
  transform: translateY(-12%);
}

@media (prefers-reduced-motion: no-preference) {
  #App-logo-two {
    animation: App-logo-alternate infinite alternate 1s ;
  }
}

@keyframes App-logo-alternate {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
