.nodeRendered {
    width: 35px;
    height: 35px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
    padding: 0;
    margin: 0;
    animation-name: nodeCreation;
    animation-duration: .7s;
    color: black;
}

.nodeRendered:hover{
    background-color:grey;
}

.nodeNotRendered {
    width: 35px;
    height: 35px;
    outline: 1px;
    display: inline-block;
    padding: 0;
    margin: 0;

}
@keyframes nodeCreation {
    25% {outline: 1px solid rgb(175, 216, 248);; transform: scale(.25);}
    50% {outline: 1px solid rgb(175, 216, 248);; transform: scale(.75);}
    75% {outline: 1px solid rgb(175, 216, 248);; transform: scale(1.2);}
    100% {outline: 1px solid rgb(175, 216, 248);; transform: scale(1);}
}


.nodeEmpty{

}

.node:hover {
    background-color:tan;
}

.expand:hover {
    background-color: blue;
}

.expand {
    background-color: green;
    animation-name: expansionAnimation;
    animation-duration: .7s;
}
.start {
    background-color: orange;
    animation-name: startAnimation;
    animation-duration: .7s;
}

.end {
    background-color: purple;
    animation-name: endAnimation;
    animation-duration: .7s;
}

.wall {
    background-color: black;
    animation-name: wallAnimation;
    animation-duration: .7s;
}

.weight {
    background-color: red;
    animation-name: weightAnimation;
    animation-duration: .7s;
}

.secondaryExpand {
    background-color: lightgreen;
    animation-name: secondaryExpandAnimation;
    animation-duration: .7s;
}

@keyframes secondaryExpandAnimation {
    25% {background-color: rgb(246, 252, 249); transform: scale(.25);}
    50% {background-color: rgb(221, 243, 239); transform: scale(.75);}
    75% {background-color: rgb(134, 223, 107); transform: scale(1.2);}
    100% {background-color: #3cdf37; transform: scale(1);}
}

@keyframes weightAnimation {
    25% {background-color: rgb(196, 153, 155); transform: scale(.25);}
    50% {background-color: rgb(221, 60, 68); transform: scale(.75);}
    75% {background-color: rgb(219, 27, 27); transform: scale(1.2);}
    100% {background-color: #ff0000; transform: scale(1);}
}

@keyframes hoverAnimation {
    25% {background-color: #B6F2D4; transform: scale(.25);}
    50% {background-color: #1AFF8D; transform: scale(.75);}
    75% {background-color: #02B55B; transform: scale(1.2);}
    100% {background-color: #026917; transform: scale(1);}
}
@keyframes expansionAnimation {
    25% {background-color: #B6F2D4; transform: scale(.25);}
    50% {background-color: #1AFF8D; transform: scale(.75);}
    75% {background-color: #02B55B; transform: scale(1.2);}
    100% {background-color: #026917; transform: scale(1);}
}

@keyframes wallAnimation{
    25% {background-color: rgba(136, 139, 138, 0.205); transform: scale(.25);}
    50% {background-color: rgb(6, 139, 138, 0.205); transform: scale(.75);}
    75% {background-color: rgba(32, 32, 32, 0.205); transform: scale(1.2);}
    100% {background-color: rgba(0, 0, 0, 0.205); transform: scale(1);}
}


@keyframes startAnimation {
    25% {background-color: rgb(235, 193, 174); transform: scale(.25);}
    50% {background-color: rgb(209, 231, 83); transform: scale(.75);}
    75% {background-color: rgb(196, 121, 36); transform: scale(1.2);}
    100% {background-color: orange; transform: scale(1);}
}

@keyframes endAnimation {
    25% {background-color: rgb(231, 171, 243); transform: scale(.25);}
    50% {background-color: rgb(163, 53, 206); transform: scale(.75);}
    75% {background-color: rgb(174, 22, 245); transform: scale(1.2);}
    100% {background-color: purple; transform: scale(1);}
}