::selection {
    color: none;
    background: none;
}

.center {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    font-family: "Courier New";
    color: green;
}

.centerGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    font-size: 4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

button {
    height: 20px;
    color: #026917;
    margin: 20px;
    font-family: "Courier New";
    font-weight: bold;
    border-radius: 5px;
    border: 3px;
    border-color: #026917;
    border-style: solid;
}

label {
    font-weight: bold;
    color: #026917;
}
option {
    font-family: "Courier New";
}

select {
    font-family: "Courier New";
    color: #026917;
}

.row {
    align-content: center;
}
